<div class="card mb-3">
  <h2 class="card-header h4">
    Agenda Item #<%= agenda_item.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Start time</dt>
      <!-- Display start_time start -->
      <dd><%= agenda_item.start_time %></dd>
      <!-- Display start_time end -->

      <dt>End time</dt>
      <!-- Display end_time start -->
      <dd><%= agenda_item.end_time %></dd>
      <!-- Display end_time end -->

      <dt>Location</dt>
      <!-- Display location start -->
      <dd><%= agenda_item.location %></dd>
      <!-- Display location end -->

      <dt>Activity</dt>
      <!-- Display activity start -->
      <dd><%= agenda_item.activity %></dd>
      <!-- Display activity end -->

      <dt>Description</dt>
      <!-- Display description start -->
      <dd><%= agenda_item.description %></dd>
      <!-- Display description end -->

      <dt>Photo</dt>
      <!-- Display photo start -->
      <dd>
        <%= cl_image_tag @agenda_item.photo, class: "img-fluid" %>
      </dd>
      <!-- Display photo end -->

      <dt>Leader</dt>
      <!-- Display leader_id start -->
      <dd><%= agenda_item.leader_id %></dd>
      <!-- Display leader_id end -->

      <dt>Is cyoa</dt>
      <!-- Display is_cyoa start -->
      <dd><%= agenda_item.is_cyoa %></dd>
      <!-- Display is_cyoa end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back agenda_item, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link agenda_item start -->
      <div class="col">
        <%= link_to edit_agenda_item_url(agenda_item), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link agenda_item end -->

      <!-- Delete link agenda_item start -->
      <div class="col">
        <%= link_to agenda_item, method: :delete, data: { confirm: "Do you really want to delete this agenda_item?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link agenda_item end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(agenda_item.updated_at) %> ago
  </div>
</div>
