<% was_validated = agenda_item.errors.any? %>

<%= form_with(model: agenda_item, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% start_time_class = "form-control" %>
    <% start_time_was_invalid = agenda_item.errors.include?(:start_time) %>

    <% if was_validated %>
      <% if start_time_was_invalid %>
        <% start_time_class << " is-invalid" %>
      <% else %>
        <% start_time_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :start_time %>
    <%= f.datetime_select :start_time, class: start_time_class, placeholder: "Enter start time" %>
    <% if start_time_was_invalid %>
      <% agenda_item.errors.full_messages_for(:start_time).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% end_time_class = "form-control" %>
    <% end_time_was_invalid = agenda_item.errors.include?(:end_time) %>

    <% if was_validated %>
      <% if end_time_was_invalid %>
        <% end_time_class << " is-invalid" %>
      <% else %>
        <% end_time_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :end_time %>
    <%= f.datetime_select :end_time, class: end_time_class, placeholder: "Enter end time" %>
    <% if end_time_was_invalid %>
      <% agenda_item.errors.full_messages_for(:end_time).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% location_class = "form-control" %>
    <% location_was_invalid = agenda_item.errors.include?(:location) %>

    <% if was_validated %>
      <% if location_was_invalid %>
        <% location_class << " is-invalid" %>
      <% else %>
        <% location_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :location %>
    <%= f.text_field :location, class: location_class, placeholder: "Enter location" %>
    <% if location_was_invalid %>
      <% agenda_item.errors.full_messages_for(:location).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% activity_class = "form-control" %>
    <% activity_was_invalid = agenda_item.errors.include?(:activity) %>

    <% if was_validated %>
      <% if activity_was_invalid %>
        <% activity_class << " is-invalid" %>
      <% else %>
        <% activity_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :activity %>
    <%= f.text_field :activity, class: activity_class, placeholder: "Enter activity" %>
    <% if activity_was_invalid %>
      <% agenda_item.errors.full_messages_for(:activity).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% description_class = "form-control" %>
    <% description_was_invalid = agenda_item.errors.include?(:description) %>

    <% if was_validated %>
      <% if description_was_invalid %>
        <% description_class << " is-invalid" %>
      <% else %>
        <% description_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :description %>
    <%= f.text_area :description, class: description_class, placeholder: "Enter description" %>
    <% if description_was_invalid %>
      <% agenda_item.errors.full_messages_for(:description).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% photo_class = "form-control" %>
    <% photo_was_invalid = agenda_item.errors.include?(:photo) %>

    <% if was_validated %>
      <% if photo_was_invalid %>
        <% photo_class << " is-invalid" %>
      <% else %>
        <% photo_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :photo %>
    <%= f.file_field :photo, class: "form-control" %>
    <% if photo_was_invalid %>
      <% agenda_item.errors.full_messages_for(:photo).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% leader_class = "form-control" %>
    <% leader_was_invalid = agenda_item.errors.include?(:leader) %>

    <% if was_validated %>
      <% if leader_was_invalid %>
        <% leader_class << " is-invalid" %>
      <% else %>
        <% leader_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :leader_id %>
    <%= f.collection_select :leader_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <% if leader_was_invalid %>
      <% agenda_item.errors.full_messages_for(:leader).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% is_cyoa_class = "form-control" %>
    <% is_cyoa_was_invalid = agenda_item.errors.include?(:is_cyoa) %>

    <% if was_validated %>
      <% if is_cyoa_was_invalid %>
        <% is_cyoa_class << " is-invalid" %>
      <% else %>
        <% is_cyoa_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :is_cyoa %>
    <%= f.text_field :is_cyoa, class: is_cyoa_class, placeholder: "Enter is cyoa" %>
    <% if is_cyoa_was_invalid %>
      <% agenda_item.errors.full_messages_for(:is_cyoa).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
