<div class="card mb-3">
  <h2 class="card-header h4">
    Score #<%= score.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Family</dt>
      <dd>
        <% if @score.family.present? %>
          <%= link_to score.family, score.family %>
        <% end %>
      </dd>

      <dt>Score</dt>
      <dd><%= score.score %></dd>

      <dt>Dsecription</dt>
      <dd><%= score.dsecription %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back score, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_score_url(score), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to score, method: :delete, data: { confirm: "Do you really want to delete this score?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(score.updated_at) %> ago
  </div>
</div>
