<%= form_with(model: @user, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :email %>

    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>

    <%= f.text_field :password, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :first_name %>

    <%= f.text_field :first_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :last_name %>

    <%= f.text_field :last_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :user_type_id %>

    <%= f.collection_select :user_type_id, UserType.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :family_id, value: @family.id %>

  <div class="form-group">
    <%= f.label :phone_number %>

    <%= f.text_field :phone_number, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :dietary_restrictions %>
    <%= f.text_area :dietary_restrictions, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :headshot %>

    <%= f.text_field :headshot, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :walkup_song %>

    <%= f.text_field :walkup_song, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :adventure_score %>

    <%= f.text_field :adventure_score, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :nightlife_score %>

    <%= f.text_field :nightlife_score, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :beachwater_score %>

    <%= f.text_field :beachwater_score, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :freetime_score %>

    <%= f.text_field :freetime_score, class: "form-control" %>
  </div>

  <%= f.submit "Create user", class: "btn btn-block btn-outline-secondary" %>
<% end %>
