<% was_validated = user.errors.any? %>

<%= form_with(model: user, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for first_name start -->
  <div class="form-group">
    <% first_name_class = "form-control" %>
    <% first_name_was_invalid = user.errors.include?(:first_name) %>

    <% if was_validated %>
      <% if first_name_was_invalid %>
        <% first_name_class << " is-invalid" %>
      <% else %>
        <% first_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :first_name %>
    <!-- Input for first_name start -->
    <%= f.text_field :first_name, class: first_name_class, placeholder: "Enter first name" %>
    <!-- Input for first_name end -->
    <% if first_name_was_invalid %>
      <% user.errors.full_messages_for(:first_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for first_name end -->
  <!-- Label and input for last_name start -->
  <div class="form-group">
    <% last_name_class = "form-control" %>
    <% last_name_was_invalid = user.errors.include?(:last_name) %>

    <% if was_validated %>
      <% if last_name_was_invalid %>
        <% last_name_class << " is-invalid" %>
      <% else %>
        <% last_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :last_name %>
    <!-- Input for last_name start -->
    <%= f.text_field :last_name, class: last_name_class, placeholder: "Enter last name" %>
    <!-- Input for last_name end -->
    <% if last_name_was_invalid %>
      <% user.errors.full_messages_for(:last_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for last_name end -->
  <!-- Label and input for user_type_id start -->
  <div class="form-group">
    <% user_type_class = "form-control" %>
    <% user_type_was_invalid = user.errors.include?(:user_type) %>

    <% if was_validated %>
      <% if user_type_was_invalid %>
        <% user_type_class << " is-invalid" %>
      <% else %>
        <% user_type_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user_type_id %>
    <!-- Input for user_type_id start -->
    <%= f.collection_select :user_type_id, UserType.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for user_type_id end -->
    <% if user_type_was_invalid %>
      <% user.errors.full_messages_for(:user_type).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for user_type_id end -->
  <!-- Label and input for family_id start -->
  <div class="form-group">
    <% family_class = "form-control" %>
    <% family_was_invalid = user.errors.include?(:family) %>

    <% if was_validated %>
      <% if family_was_invalid %>
        <% family_class << " is-invalid" %>
      <% else %>
        <% family_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :family_id %>
    <!-- Input for family_id start -->
    <%= f.number_field :family_id, class: family_class, placeholder: "Enter family" %>
    <!-- Input for family_id end -->
    <% if family_was_invalid %>
      <% user.errors.full_messages_for(:family).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for family_id end -->
  <!-- Label and input for phone_number start -->
  <div class="form-group">
    <% phone_number_class = "form-control" %>
    <% phone_number_was_invalid = user.errors.include?(:phone_number) %>

    <% if was_validated %>
      <% if phone_number_was_invalid %>
        <% phone_number_class << " is-invalid" %>
      <% else %>
        <% phone_number_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :phone_number %>
    <!-- Input for phone_number start -->
    <%= f.text_field :phone_number, class: phone_number_class, placeholder: "Enter phone number" %>
    <!-- Input for phone_number end -->
    <% if phone_number_was_invalid %>
      <% user.errors.full_messages_for(:phone_number).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for phone_number end -->
  <!-- Label and input for dietary_restrictions start -->
  <div class="form-group">
    <% dietary_restriction_class = "form-control" %>
    <% dietary_restriction_was_invalid = user.errors.include?(:dietary_restriction) %>

    <% if was_validated %>
      <% if dietary_restriction_was_invalid %>
        <% dietary_restriction_class << " is-invalid" %>
      <% else %>
        <% dietary_restriction_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :dietary_restrictions %>
    <!-- Input for dietary_restrictions start -->
    <%= f.text_area :dietary_restrictions, class: dietary_restriction_class, placeholder: "Enter dietary restriction" %>
    <!-- Input for dietary_restrictions end -->
    <% if dietary_restriction_was_invalid %>
      <% user.errors.full_messages_for(:dietary_restriction).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for dietary_restrictions end -->
  <!-- Label and input for headshot start -->
  <div class="form-group">
    <% headshot_class = "form-control" %>
    <% headshot_was_invalid = user.errors.include?(:headshot) %>

    <% if was_validated %>
      <% if headshot_was_invalid %>
        <% headshot_class << " is-invalid" %>
      <% else %>
        <% headshot_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :headshot %>
    <!-- Input for headshot start -->
    <%= f.text_field :headshot, class: headshot_class, placeholder: "Enter headshot" %>
    <!-- Input for headshot end -->
    <% if headshot_was_invalid %>
      <% user.errors.full_messages_for(:headshot).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for headshot end -->
  <!-- Label and input for walkup_song start -->
  <div class="form-group">
    <% walkup_song_class = "form-control" %>
    <% walkup_song_was_invalid = user.errors.include?(:walkup_song) %>

    <% if was_validated %>
      <% if walkup_song_was_invalid %>
        <% walkup_song_class << " is-invalid" %>
      <% else %>
        <% walkup_song_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :walkup_song %>
    <!-- Input for walkup_song start -->
    <%= f.text_field :walkup_song, class: walkup_song_class, placeholder: "Enter walkup song" %>
    <!-- Input for walkup_song end -->
    <% if walkup_song_was_invalid %>
      <% user.errors.full_messages_for(:walkup_song).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for walkup_song end -->
  <!-- Label and input for adventure_score start -->
  <div class="form-group">
    <% adventure_score_class = "form-control" %>
    <% adventure_score_was_invalid = user.errors.include?(:adventure_score) %>

    <% if was_validated %>
      <% if adventure_score_was_invalid %>
        <% adventure_score_class << " is-invalid" %>
      <% else %>
        <% adventure_score_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :adventure_score %>
    <!-- Input for adventure_score start -->
    <%= f.number_field :adventure_score, class: adventure_score_class, placeholder: "Enter adventure score" %>
    <!-- Input for adventure_score end -->
    <% if adventure_score_was_invalid %>
      <% user.errors.full_messages_for(:adventure_score).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for adventure_score end -->
  <!-- Label and input for nightlife_score start -->
  <div class="form-group">
    <% nightlife_score_class = "form-control" %>
    <% nightlife_score_was_invalid = user.errors.include?(:nightlife_score) %>

    <% if was_validated %>
      <% if nightlife_score_was_invalid %>
        <% nightlife_score_class << " is-invalid" %>
      <% else %>
        <% nightlife_score_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :nightlife_score %>
    <!-- Input for nightlife_score start -->
    <%= f.number_field :nightlife_score, class: nightlife_score_class, placeholder: "Enter nightlife score" %>
    <!-- Input for nightlife_score end -->
    <% if nightlife_score_was_invalid %>
      <% user.errors.full_messages_for(:nightlife_score).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for nightlife_score end -->
  <!-- Label and input for beachwater_score start -->
  <div class="form-group">
    <% beachwater_score_class = "form-control" %>
    <% beachwater_score_was_invalid = user.errors.include?(:beachwater_score) %>

    <% if was_validated %>
      <% if beachwater_score_was_invalid %>
        <% beachwater_score_class << " is-invalid" %>
      <% else %>
        <% beachwater_score_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :beachwater_score %>
    <!-- Input for beachwater_score start -->
    <%= f.number_field :beachwater_score, class: beachwater_score_class, placeholder: "Enter beachwater score" %>
    <!-- Input for beachwater_score end -->
    <% if beachwater_score_was_invalid %>
      <% user.errors.full_messages_for(:beachwater_score).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for beachwater_score end -->
  <!-- Label and input for freetime_score start -->
  <div class="form-group">
    <% freetime_score_class = "form-control" %>
    <% freetime_score_was_invalid = user.errors.include?(:freetime_score) %>

    <% if was_validated %>
      <% if freetime_score_was_invalid %>
        <% freetime_score_class << " is-invalid" %>
      <% else %>
        <% freetime_score_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :freetime_score %>
    <!-- Input for freetime_score start -->
    <%= f.number_field :freetime_score, class: freetime_score_class, placeholder: "Enter freetime score" %>
    <!-- Input for freetime_score end -->
    <% if freetime_score_was_invalid %>
      <% user.errors.full_messages_for(:freetime_score).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for freetime_score end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
