<%= form_with(model: @agenda_item, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :start_time %>
    <%= f.datetime_select :start_time, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :end_time %>
    <%= f.datetime_select :end_time, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :location %>

    <%= f.text_field :location, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :activity %>

    <%= f.text_field :activity, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :photo %>

    <%= f.file_field :photo, class: "form-control" %>
  </div>

  <%= f.hidden_field :leader_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :is_cyoa %>

    <%= f.text_field :is_cyoa, class: "form-control" %>
  </div>

  <%= f.submit "Create agenda item", class: "btn btn-block btn-outline-secondary" %>
<% end %>
